.row
  .col-sm-9
    - if @receiver.description
      .well= @receiver.description

    - @appreciations.each do |appreciation|
      = render 'appreciations/appreciation', appreciation: appreciation

  .col-sm-3
    - if true
      = render 'badges'
    - else
      = render 'appreciations/form'

