.h4 Variant #{i}
%div
  = link_to image_tag(badge_image(i)), stable_url(receiver)
%div
  %textarea{readonly: 'readonly', class:"form-control", rows:"3", port: 80}
    [![Open Thanks](#{badge_image(i)})](#{stable_url(receiver)})
