%section.container-fluid.jumbotron
  .container
    %h1 Open <strong>Thanks</strong>!
    %p Say thank you to your favorite Open Source project, article, or anything.
    %p
      = link_to user_github_omniauth_authorize_path, class: "btn btn-primary btn-lg", role: "button" do
        %i.fa.fa-github
        Sign in
        %small to get started

.container= flash_messages

%section.container
  %h1.hidden About
  .row
    .col-md-12
    %p
      It's really hard to say thank you these days without being accused of spamming.

    %p
      Let say you really like some Github project. How would you show your appreciation ?

      %ul
        %li Would you open a project "issue" saying "Thank you" ?
        %li Would you create a Pull request saying "Thank you" ?
        %li Would you google author until you find his email or twitter like a creepy stalker ?
        %li Would you send the author a box of chocolates ?

    %p
      #{link_to 'Open thanks', root_path} provides convenient way how to receive and say "Thank you" on a project, article, blog, comment, ...

%section.container
  .page-header
    %h1 Latest Appreciations

  - @appreciations.in_groups_of(2) do |group|
    .row
      - group.each do |appreciation|
        .col-sm-6
          - if appreciation
            = render 'appreciations/appreciation', appreciation: appreciation, user: appreciation.user, show_project: true
