.jumbotron
  %h1 Open <strong>Thanks</strong>!

  %p Say thank you to your favorite Open Source project, article, or anything.

  %p= link_to 'Get started', root_path, class: "btn btn-primary btn-lg", role: "button"

%p
  It's really hard to say thank you these days without being occused of spamming.

%p
  Let say you really like some Github project. How would you show your appreciation ?

  %ul
    %li Would you open a project "issue" ?
    %li Would you create a Pull request ?
    %li Would you google author until you find his email or twitter like a creepy stalker ?

%p
  #{link_to 'Open thanks', root_path} is providing convenient way how to enable collecting of
  "Thank you" on your project, article, blog.
